## Imports et config

In [60]:
import pandas as pd
import io
import os
import requests
import datetime as dt
from dotenv import load_dotenv
import boto3
import re
from tqdm import tqdm
from collections import Counter

load_dotenv()
CURRENT_STAT_ID = 7510

S3_RAW_PATH = "esquilaplu/raw/meteofrance"

## Reformattage des nom de fichier brutes dans S3

In [6]:
aws_s3_bucket = os.getenv("S3_BUCKET")
aws_access_key_id = os.getenv("ACCESS_KEY_ID")
aws_secret_access_key = os.getenv("SECRET_ACCESS_KEY")

s3_client = boto3.client(
    "s3",
    aws_access_key_id=aws_access_key_id,
    aws_secret_access_key=aws_secret_access_key,
)

In [8]:
response = s3_client.list_objects_v2(Bucket=aws_s3_bucket, Prefix=S3_RAW_PATH)
files = [content["Key"].lstrip(S3_RAW_PATH) for content in response["Contents"] if (content["Key"] != S3_RAW_PATH and content["Key"].endswith(".csv"))]
files[:10]

['2023-05-01-0.csv',
 '2023-05-01-12.csv',
 '2023-05-01-15.csv',
 '2023-05-01-18.csv',
 '2023-05-01-21.csv',
 '2023-05-01-3.csv',
 '2023-05-01-6.csv',
 '2023-05-01-9.csv',
 '2023-05-02-0.csv',
 '2023-05-02-12.csv']

In [35]:
def format_hour(hour: str) -> str:
    return str(hour).zfill(2)

In [43]:
file = files[0]
hour = re.search(r"\d{4}-\d{2}-\d{2}-(\d{1,2})\.csv", file).group(1)
formatted_hour = format_hour(hour)
print(formatted_hour)

# replace hour part in filename with 2023-05-02-00.csv
date = re.search(r"\d{4}-\d{2}-\d{2}", file).group(0)
new_file = re.sub(r"\d{4}-\d{2}-\d{2}-\d{1,2}\.csv", f"{date}-{formatted_hour}.csv", file)
new_file

00

'2023-05-01-00.csv'

In [61]:
counter = Counter()
for file in tqdm(files):
    hour = re.search(r"\d{4}-\d{2}-\d{2}-(\d{1,2})\.csv", file).group(1)
    formatted_hour = format_hour(hour)
    
    if hour != formatted_hour:
        counter.update([hour])
        date = re.search(r"\d{4}-\d{2}-\d{2}", file).group(0)
        new_file = re.sub(r"\d{4}-\d{2}-\d{2}-\d{1,2}\.csv", f"{date}-{formatted_hour}.csv", file)

        # s3_client.copy_object(
        #     Bucket=aws_s3_bucket,
        #     CopySource={"Bucket": aws_s3_bucket, "Key": f"{S3_RAW_PATH}/{file}"},
        #     Key=f"{S3_RAW_PATH}/{new_file}",
        # )
        s3_client.delete_object(Bucket=aws_s3_bucket, Key=f"{S3_RAW_PATH}/{file}")
        
print(counter)

100%|██████████| 292/292 [00:14<00:00, 19.80it/s]

Counter({'0': 32, '3': 31, '6': 31, '9': 31})

## Récupération des données

In [22]:
def load_dataset(date: dt.datetime) -> pd.DataFrame:
    
    hour = date.strftime("%H")
    date_id = "".join([
        str(date.year),
        date.strftime("%m"),
        date.strftime("%d"),
    ])
    
    dt_id = date_id + hour
    
    url = f"https://donneespubliques.meteofrance.fr/donnees_libres/Txt/Synop/synop.{dt_id}.csv"
    headers = {
        "Referer": f"https://donneespubliques.meteofrance.fr/?fond=donnee_libre&prefixe=Txt%2FSynop%2Fsynop&extension=csv&date={date_id}&reseau={hour}",
        "User-Agent": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109.0) Gecko/20100101 Firefox/112.0",
        "Host": "donneespubliques.meteofrance.fr",
        "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,*/*;q=0.8",
        "Accept-Encoding": "gzip, deflate, br",
        "Accept-Language": "fr,fr-FR;q=0.8,en-US;q=0.5,en;q=0.3",
        "Sec-Fetch-Dest": "document",
        "Sec-Fetch-Mode": "navigate",
    }

    resp = requests.get(url, headers=headers)
    resp.raise_for_status()

    buffer = io.StringIO(resp.text)
    
    buffer.seek(0)
    df = pd.read_csv(buffer, sep=";", parse_dates=["date"])
    return df


load_dataset(dt.datetime(2023, 5, 10, 12))

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
0,7005,2023-05-10 12:00:00,101490,110,1,270,6.900000,286.250000,283.950000,86,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
1,7015,2023-05-10 12:00:00,101300,30,1,250,3.000000,288.850000,283.350000,70,...,5,mq,840,6,mq,1020,mq,9,mq,NaN
2,7020,2023-05-10 12:00:00,101660,60,0,250,7.500000,286.650000,284.550000,87,...,3,3,3000,3,0,9000,mq,mq,mq,NaN
3,7027,2023-05-10 12:00:00,101650,20,1,300,2.500000,287.450000,286.150000,92,...,6,mq,1110,7,mq,1680,mq,9,mq,NaN
4,7037,2023-05-10 12:00:00,101560,50,1,300,4.500000,287.150000,283.150000,77,...,3,mq,780,7,mq,1440,mq,mq,mq,NaN
5,7072,2023-05-10 12:00:00,101370,-30,8,290,1.800000,288.650000,283.650000,72,...,5,mq,5520,7,mq,6600,mq,8,mq,NaN
6,7110,2023-05-10 12:00:00,101980,30,1,290,5.500000,287.750000,282.550000,71,...,8,mq,1800,mq,mq,mq,mq,mq,mq,NaN
7,7117,2023-05-10 12:00:00,101870,40,1,250,9.300000,287.650000,283.450000,76,...,2,6,1000,2,3,2000,1,0,6000,NaN
8,7130,2023-05-10 12:00:00,101840,-30,7,330,2.400000,287.550000,284.650000,83,...,6,mq,1320,8,mq,1620,mq,9,mq,NaN
9,7139,2023-05-10 12:00:00,101670,-30,8,240,4.800000,287.950000,285.050000,83,...,4,mq,1200,5,mq,1470,mq,mq,mq,NaN
10,7149,2023-05-10 12:00:00,101560,60,0,290,5.300000,287.950000,282.750000,71,...,4,6,1200,5,3,2600,mq,mq,mq,NaN
11,7168,2023-05-10 12:00:00,101580,50,1,270,6.300000,285.350000,283.950000,91,...,3,mq,660,6,mq,1290,mq,9,mq,NaN
12,7181,2023-05-10 12:00:00,101460,0,4,240,6.900000,286.250000,282.350000,77,...,4,mq,1050,6,mq,1230,mq,8,mq,NaN
13,7190,2023-05-10 12:00:00,101460,20,2,250,4.300000,289.050000,282.050000,63,...,3,mq,1290,5,mq,1500,mq,mq,mq,NaN
14,7207,2023-05-10 12:00:00,102060,-10,8,270,9.200000,288.450000,284.850000,79,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
15,7222,2023-05-10 12:00:00,101910,-70,8,260,5.700000,289.650000,284.550000,72,...,4,mq,1080,5,mq,1440,mq,8,mq,NaN
16,7240,2023-05-10 12:00:00,101790,-60,7,300,3.300000,288.150000,284.350000,78,...,7,mq,1620,8,mq,1980,mq,8,mq,NaN
17,7255,2023-05-10 12:00:00,101800,-60,8,300,4.600000,288.550000,282.250000,66,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
18,7280,2023-05-10 12:00:00,101630,-60,8,250,6.200000,288.750000,282.850000,68,...,3,mq,870,6,mq,1440,mq,8,mq,NaN
19,7299,2023-05-10 12:00:00,101530,-40,5,270,7.300000,288.350000,282.450000,68,...,5,mq,1800,mq,mq,mq,mq,mq,mq,NaN
20,7314,2023-05-10 12:00:00,102160,-20,8,280,8.400000,288.950000,284.350000,74,...,3,3,2500,mq,mq,mq,mq,mq,mq,NaN
21,7335,2023-05-10 12:00:00,101910,-100,8,240,6.700000,289.050000,282.050000,63,...,6,mq,1230,7,mq,1740,mq,9,mq,NaN
22,7434,2023-05-10 12:00:00,101950,-90,8,270,4.500000,287.350000,279.650000,60,...,6,mq,1290,7,mq,1740,mq,9,mq,NaN
23,7460,2023-05-10 12:00:00,101860,-60,8,300,5.100000,288.450000,276.850000,46,...,7,mq,1980,8,mq,2340,mq,mq,mq,NaN
24,7471,2023-05-10 12:00:00,mq,-40,8,310,5.100000,285.150000,276.350000,55,...,7,mq,6360,mq,mq,mq,mq,mq,mq,NaN
25,7481,2023-05-10 12:00:00,101890,0,0,320,4.500000,288.050000,278.850000,54,...,7,6,1700,mq,mq,mq,mq,mq,mq,NaN
26,7510,2023-05-10 12:00:00,102220,-60,8,300,7.800000,289.850000,280.750000,55,...,5,mq,2280,8,mq,2880,mq,mq,mq,NaN
27,7535,2023-05-10 12:00:00,102050,-120,8,280,2.800000,290.050000,281.750000,58,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
28,7558,2023-05-10 12:00:00,101890,-50,5,310,9.600000,284.450000,278.950000,69,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
29,7577,2023-05-10 12:00:00,101720,-60,8,20,6.400000,290.750000,278.950000,46,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
30,7607,2023-05-10 12:00:00,102250,-100,8,260,6.400000,290.650000,282.550000,59,...,5,mq,1620,6,mq,2220,mq,9,mq,NaN
31,7621,2023-05-10 12:00:00,102270,-120,8,270,5.400000,288.650000,279.650000,55,...,5,mq,1350,7,mq,1620,mq,mq,mq,NaN
32,7627,2023-05-10 12:00:00,102180,-130,8,310,5.300000,289.050000,281.050000,59,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
33,7630,2023-05-10 12:00:00,102200,-90,8,290,6.100000,289.250000,283.950000,71,...,6,mq,2220,mq,mq,mq,mq,mq,mq,NaN
34,7643,2023-05-10 12:00:00,101690,-80,8,300,10.300000,294.350000,274.050000,26,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
35,7650,2023-05-10 12:00:00,101500,0,0,320,14.200000,294.150000,278.450000,36,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
36,7661,2023-05-10 12:00:00,mq,mq,mq,320,15.500000,mq,mq,mq,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
37,7690,2023-05-10 12:00:00,101030,10,0,110,2.900000,293.750000,288.050000,70,...,2,3,2800,1,9,1200,mq,mq,mq,NaN
38,7747,2023-05-10 12:00:00,101850,-160,8,300,11.500000,293.450000,276.650000,33,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
39,7761,2023-05-10 12:00:00,101120,-20,8,250,4.000000,294.450000,287.650000,65,...,8,mq,1380,mq,mq,mq,mq,mq,mq,NaN
40,7790,2023-05-10 12:00:00,100830,-70,6,320,5.100000,297.050000,285.650000,49,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
41,61968,2023-05-10 12:00:00,101180,140,6,120,2.800000,303.750000,295.650000,62,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
42,61972,2023-05-10 12:00:00,101590,100,6,mq,mq,300.550000,293.650000,66,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
43,61976,2023-05-10 12:00:00,101350,80,6,120,8.300000,302.750000,296.250000,68,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
44,61980,2023-05-10 12:00:00,101630,-50,5,110,8.800000,300.850000,293.150000,63,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
45,61996,2023-05-10 12:00:00,100700,50,3,250,10.200000,285.950000,283.850000,87,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
46,61997,2023-05-10 12:00:00,101950,180,6,330,11.600000,280.650000,278.750000,88,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
47,61998,2023-05-10 12:00:00,101200,180,1,260,7.700000,278.150000,275.550000,83,...,5,0,6900,mq,mq,mq,mq,mq,mq,NaN
48,67005,2023-05-10 12:00:00,101250,-110,6,170,2.900000,305.450000,296.950000,61,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
49,71805,2023-05-10 12:00:00,100920,190,1,260,7.900000,277.950000,275.850000,86,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
50,78890,2023-05-10 12:00:00,101710,90,1,70,8.500000,302.050000,295.750000,69,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
51,78894,2023-05-10 12:00:00,101790,130,1,110,2.800000,302.550000,295.050000,64,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
52,78897,2023-05-10 12:00:00,101730,70,1,80,4.600000,301.750000,295.550000,69,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
53,78922,2023-05-10 12:00:00,101710,110,1,100,6.800000,302.150000,294.950000,65,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
54,78925,2023-05-10 12:00:00,101690,110,1,100,6.300000,301.450000,294.250000,65,...,4,mq,1440,mq,mq,mq,mq,mq,mq,NaN
55,81401,2023-05-10 12:00:00,101380,200,3,90,2.500000,298.450000,297.750000,96,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
56,81405,2023-05-10 12:00:00,101370,200,1,70,5.000000,299.950000,297.950000,89,...,7,mq,510,8,mq,2040,mq,mq,mq,NaN
57,81415,2023-05-10 12:00:00,mq,mq,mq,70,1.600000,298.450000,297.050000,92,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
58,89642,2023-05-10 12:00:00,99080,80,1,80,3.600000,256.950000,250.550000,54,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN

Chargement de la liste des stations météo

In [13]:
station_filepath = "resources/data/stations.csv"

stations = pd.read_csv(station_filepath, sep=";")
stations.head()

     ID              Nom   Latitude  Longitude  Altitude
0  7005        ABBEVILLE  50.136000   1.834000        69
1  7015    LILLE-LESQUIN  50.570000   3.097500        47
2  7020  PTE DE LA HAGUE  49.725167  -1.939833         6
3  7027   CAEN-CARPIQUET  49.180000  -0.456167        67
4  7037       ROUEN-BOOS  49.383000   1.181667       151

In [14]:
stations.loc[stations["ID"] == CURRENT_STAT_ID, :]

      ID                Nom   Latitude  Longitude  Altitude
26  7510  BORDEAUX-MERIGNAC  44.830667  -0.691333        47

In [4]:
buffer = io.StringIO(resp.text)
buffer.seek(0)
df = pd.read_csv(buffer, sep=";", parse_dates=["date"])
df

,numer_sta,date,pmer,tend,cod_tend,dd,ff,t,td,u,...,nnuage2,ctype2,hnuage2,nnuage3,ctype3,hnuage3,nnuage4,ctype4,hnuage4,Unnamed: 59
0,7005,2023-05-12 18:00:00,101870,110,3,30,2.8,286.350000,285.550000,95,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
1,7015,2023-05-12 18:00:00,101850,130,3,10,2.1,288.850000,286.350000,85,...,6,mq,1980,8,mq,2400,mq,9,mq,NaN
2,7020,2023-05-12 18:00:00,102200,-10,7,30,6.3,285.750000,283.850000,88,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
3,7027,2023-05-12 18:00:00,102070,-20,6,340,5.0,283.950000,283.450000,97,...,8,mq,240,mq,mq,mq,mq,mq,mq,NaN
4,7037,2023-05-12 18:00:00,101820,-30,5,360,4.5,284.550000,284.250000,98,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
5,7072,2023-05-12 18:00:00,101640,40,3,320,3.5,287.950000,285.450000,85,...,6,mq,2040,8,mq,2400,mq,9,mq,NaN
6,7110,2023-05-12 18:00:00,102360,20,0,20,4.6,287.050000,283.050000,77,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
7,7117,2023-05-12 18:00:00,102310,-20,8,280,2.6,285.550000,283.450000,87,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
8,7130,2023-05-12 18:00:00,102120,90,1,350,5.3,285.950000,281.450000,74,...,3,mq,1680,7,mq,2100,mq,mq,mq,NaN
9,7139,2023-05-12 18:00:00,101950,-10,8,320,5.8,284.450000,282.150000,86,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
10,7149,2023-05-12 18:00:00,101750,-10,5,330,3.4,286.350000,282.050000,75,...,3,mq,1020,8,mq,1230,mq,mq,mq,NaN
11,7168,2023-05-12 18:00:00,101630,30,3,360,3.1,287.950000,284.150000,78,...,4,mq,810,5,mq,1080,mq,mq,mq,NaN
12,7181,2023-05-12 18:00:00,101520,40,3,30,3.0,286.250000,283.950000,86,...,3,mq,2100,5,mq,2460,mq,8,mq,NaN
13,7190,2023-05-12 18:00:00,101480,40,3,30,6.2,288.350000,284.550000,78,...,4,mq,2280,5,mq,2640,mq,mq,mq,NaN
14,7207,2023-05-12 18:00:00,102110,30,3,360,5.0,288.450000,283.450000,72,...,4,4,2000,mq,mq,mq,mq,mq,mq,NaN
15,7222,2023-05-12 18:00:00,101950,80,3,20,5.9,288.250000,283.450000,73,...,5,mq,1920,8,mq,2400,mq,mq,mq,NaN
16,7240,2023-05-12 18:00:00,101810,80,3,350,4.6,287.850000,281.350000,65,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
17,7255,2023-05-12 18:00:00,101690,90,3,350,3.6,286.950000,282.950000,77,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
18,7280,2023-05-12 18:00:00,101430,90,3,340,4.2,288.550000,284.350000,76,...,5,mq,2280,8,mq,2820,mq,8,mq,NaN
19,7299,2023-05-12 18:00:00,101340,50,2,350,3.4,287.850000,283.650000,76,...,5,mq,2280,5,mq,2580,mq,mq,mq,NaN
20,7314,2023-05-12 18:00:00,101840,-20,8,310,9.0,288.650000,285.050000,79,...,1,3,2000,1,0,6000,1,9,1000,NaN
21,7335,2023-05-12 18:00:00,101790,30,3,310,1.4,285.650000,283.850000,89,...,5,mq,1440,7,mq,1800,mq,9,mq,NaN
22,7434,2023-05-12 18:00:00,101650,20,3,320,3.4,286.250000,282.350000,77,...,4,mq,4740,5,mq,6420,mq,9,mq,NaN
23,7460,2023-05-12 18:00:00,101570,40,3,100,1.7,285.150000,282.750000,85,...,8,mq,1680,mq,9,mq,mq,mq,mq,NaN
24,7471,2023-05-12 18:00:00,mq,110,1,320,3.7,282.150000,279.450000,83,...,5,mq,1110,8,mq,1980,mq,8,mq,NaN
25,7481,2023-05-12 18:00:00,101310,40,3,330,5.3,286.550000,283.350000,81,...,7,3,3000,1,9,900,mq,mq,mq,NaN
26,7510,2023-05-12 18:00:00,101910,160,1,270,3.2,285.550000,284.250000,92,...,3,mq,1620,8,mq,1980,mq,9,mq,NaN
27,7535,2023-05-12 18:00:00,101670,90,1,300,0.8,285.150000,283.550000,90,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
28,7558,2023-05-12 18:00:00,101480,120,3,80,2.4,281.650000,280.550000,93,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
29,7577,2023-05-12 18:00:00,101380,230,3,30,1.4,286.050000,283.450000,84,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
30,7591,2023-05-12 18:00:00,mq,140,1,90,0.5,281.450000,280.850000,96,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
31,7607,2023-05-12 18:00:00,101900,50,1,260,2.2,285.150000,284.250000,94,...,6,mq,1920,7,mq,2640,mq,9,mq,NaN
32,7621,2023-05-12 18:00:00,101930,90,1,250,3.6,283.050000,279.950000,81,...,8,mq,1380,mq,8,mq,mq,mq,mq,NaN
33,7627,2023-05-12 18:00:00,101830,130,3,310,3.6,283.650000,281.750000,88,...,5,mq,1440,8,mq,1740,mq,mq,mq,NaN
34,7630,2023-05-12 18:00:00,101700,40,2,270,5.8,286.650000,282.850000,78,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
35,7643,2023-05-12 18:00:00,101380,90,3,30,3.3,285.450000,283.850000,90,...,mq,9,mq,mq,mq,mq,mq,mq,mq,NaN
36,7650,2023-05-12 18:00:00,101270,40,0,10,4.8,288.450000,282.150000,66,...,5,mq,6900,5,mq,7500,mq,mq,mq,NaN
37,7661,2023-05-12 18:00:00,mq,mq,mq,80,6.8,mq,mq,mq,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
38,7690,2023-05-12 18:00:00,101300,40,1,90,2.7,289.650000,284.950000,74,...,3,8,930,5,6,1200,mq,mq,mq,NaN
39,7747,2023-05-12 18:00:00,101420,80,3,320,6.8,290.450000,277.750000,43,...,5,mq,3900,mq,mq,mq,mq,mq,mq,NaN
40,7761,2023-05-12 18:00:00,101470,50,3,250,3.1,290.550000,283.850000,65,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
41,7790,2023-05-12 18:00:00,101410,50,2,350,1.5,289.550000,285.750000,78,...,3,mq,930,5,mq,2340,mq,mq,mq,NaN
42,61968,2023-05-12 18:00:00,101570,130,2,90,1.8,300.350000,296.850000,81,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
43,61972,2023-05-12 18:00:00,101810,160,1,160,2.0,295.950000,293.450000,86,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
44,61976,2023-05-12 18:00:00,101780,130,1,110,8.1,299.650000,296.150000,81,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
45,61980,2023-05-12 18:00:00,102010,60,1,130,5.0,296.550000,289.550000,65,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
46,61996,2023-05-12 18:00:00,102980,0,0,290,3.6,286.650000,281.250000,70,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
47,61997,2023-05-12 18:00:00,101540,210,3,210,9.3,276.250000,272.050000,74,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
48,67005,2023-05-12 18:00:00,101610,100,1,280,1.4,299.550000,297.050000,86,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
49,71805,2023-05-12 18:00:00,102240,-20,8,250,5.7,283.650000,270.550000,40,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
50,78890,2023-05-12 18:00:00,101480,140,8,70,9.4,301.050000,295.950000,74,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
51,78894,2023-05-12 18:00:00,101530,120,8,120,4.2,303.350000,295.250000,62,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
52,78897,2023-05-12 18:00:00,101480,-140,7,120,6.5,303.050000,294.450000,60,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
53,78922,2023-05-12 18:00:00,101500,110,8,140,5.8,301.950000,295.450000,68,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
54,78925,2023-05-12 18:00:00,101460,-130,7,110,6.7,303.550000,294.950000,60,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
55,81401,2023-05-12 18:00:00,101080,310,6,40,2.0,306.250000,297.950000,62,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
56,81405,2023-05-12 18:00:00,101240,-210,6,80,1.6,299.950000,297.650000,87,...,7,mq,1020,7,mq,1440,mq,mq,mq,NaN
57,81408,2023-05-12 18:00:00,101130,260,8,50,1.1,299.550000,297.350000,88,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN
58,81415,2023-05-12 18:00:00,mq,mq,mq,100,0.9,302.350000,298.350000,79,...,mq,mq,mq,mq,mq,mq,mq,mq,mq,NaN